p.messages {
  height: 20rem;
  overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  margin-bottom: 1em;
}

.messages::-webkit-scrollbar {
  display: none;
}

#mqtt-form, .messages {
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

#mqtt-form input {
    width: 100%;
    margin-bottom: 1em;
    padding: .5em;
    border: 1px solid #CCC;
    border-radius: .5em;
}

#mqtt-form button {
    padding: .5em;
    border-radius: .5em;
    background: #FFF;
    cursor: pointer;
}

#mqtt-form button:hover {
    background: #F0F0F0;
}